.comp-contador{
   
    padding: 1px;

    .cont {

        display: flex;
        gap: 15px;
        font: 700 25px;
        
        
        

        button{

            padding: 10px 30px;
            border-radius: 5px;
            background-color: cyan;
            color: white;
            font: 400 22px;
            border: none;
        
          }
        
        
    }
}