.comp-item-meta{
    
    .metas {

        display: flex;
        flex-direction: column;
        gap: 20px;
    
        li {
            list-style: none;
    
    
        }
    
    }
}