.page-catalogoDeFilmes {



    .filmes {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;


        .lista-filme{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }
}